<div class="jumbotron">
	<h1 class="text-center">Categorias</h1>
</div>
<table>
  <tr>
    <th>Categoría</th>
  </tr>

<% @categories.each do |c| %>
  <tr>
	<td><%= c.name  %> </td>
	 </tr>
<% end  %>
</table>

